/* Initial Setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: grid;
    grid-template-columns: 300px repeat(6,1fr);
}

nav > a {
    background-color: red;
    color: white;
    height: 200px;
    border: 1px solid white;
}